[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.testnet]
access_control = "6XyAbrfHK5sinJAj3nXEVG2ALzKTXQv89JLuYwXictGV"
ace_hook = "8jDv41SQVKCaVtkbFS1ZaVDDCEtKkAc7QXV3Y1psGts9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
